@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.card{
    @apply bg-white rounded-md overflow-hidden shadow-md relative my-1;
}
.badge-gray{
    @apply bg-secondary-100 text-secondary-200 text-xs font-bold rounded-full p-2 absolute top-0 ml-2 mt-2;
}
.badge-red{
    @apply bg-red-700 text-secondary-100 text-xs font-bold rounded-full p-2 absolute top-0 ml-2 mt-2;
}
.btn{
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}
/* @media (max-width: 768px){
#menu{
    display: none;
}
} */